/* Prends en compte la bordure de l'ensemble des éléments*/ 
* {
    box-sizing: border-box;
}


#corps {
    margin-left: 1%;
    margin-right: 1%;
}


@import url('https://fonts.googleapis.com/css?family=Inconsolata/Raleway');
li, a
{
	font-family: "Raleway", "Regular 400";
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color:black;
	padding: 2rem;
}

li#inscription {
	font-weight: bold;
}
/* Menu */
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin: 0;
	padding: 0;
}

.logo
{
	cursor: pointer;
	width: 8%;
	height: 8%;
}

.nav__links
{
	list-style: none;
}

.nav__links li
{
	display: inline-block;
}

.nav__links li a:hover
{
    color:#0065FC;
}

.nav__links li:hover
{
    border-top: 2.5px solid #0065FC;
}

#divMenu {
    position: relative;
    float: left;
    z-index: 3;
}

/* Gestion des icones */

/* Modifications d'ensemble */
i.fas
{
	font-size: 30px;
	color:#0065FC;
    border-radius: 50%;
    float: left;
}

#mapsIcon
{
    background-color: #F2F2F2;
}


#textFieldSearch{
    float: left;
}

i.fas.fa-map-marker-alt {
    border-color: red;
}

input#fPosition {
	height: 35px;
	border-style: solid;
    border-color: #F2F2F2;
}

button#btnSearch {
    height: 35px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

#divIcon{
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}

.filtreRechercheTitre{
    margin: 0px 2rem 1rem 0;
    display: flex;
    align-items: center;
}

#filtreRechercheIconeBillet{
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    margin: -2px;
}
/* Elements du premier conteneur*/
#conteneur
{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	border : 2px solid #444;
	background-color :#F2F2F2;
	border-radius: 10px;
}

.element
{
	width: 250px;
	height: 150px;
	flex-wrap: wrap;
	display: flex;
	border-radius: 10px;
}

.element:nth-child(n)
{
	background-image: url("images/1.jpg");
}

.element:nth-child(2n)
{
	background-image: url("images/2.jpg");
}

.element:nth-child(3n)
{
	background-image: url("images/3.jpg");
}

#droite
{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	border : 1px solid #444;
	width: 25%;
}

#gauche
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#contour
{
	background-color: white;
	border-radius: 10px;
}

#FiltreRecherche{
	display: flex;
	flex-wrap: wrap;
}

/* Footer */

footer{
	width: 100%;
	background-color :#F2F2F2;
}

/* Mise en place de 3 colonnes de taille équivalente */
.column {
    float: left;
    width: 33.33%;
    padding: 30px;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

