/* GENERAL */
* {
    box-sizing: border-box;
}

body{
    font-family: "Raleway", "Sans serif";
	margin:0;
	padding:0;
}

.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}


/* HEADER */
.headerNav{
	display: flex;
    align-items: center;
    grid-area: navbar;
}

.headerNavLink:hover {
	border-top: 3px solid #0065FC;
    color:#0065FC;
    
}

.headerNavLink {
	border-top: 3px solid #ffffff;
    font-weight: 600;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    padding: 2rem;
}

#searchResult{
	display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.signupButton{
	font-weight: 800;
    color:#0065FC;
    padding-left: 2rem;
}

#rechercheEntete{
	margin-bottom: 0.5rem;
}

.rechercheTitre{
	margin-bottom: 0.5rem;
}

.rechercheTitreSousTitre{
	margin-top: 0;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata/Raleway');
a
{
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color:black;
}

li#inscription {
	font-weight: bold;
}
/* Menu */
.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
}

.logo
{
	cursor: pointer;
    height: 3rem;
    grid-area: logo;
    padding: 0 2rem;
}

.nav__links
{
	list-style: none;
}

.nav__links li
{
	display: inline-block;
}

.nav__links li[data-active=true]
{
    color:#0065FC;
}

.nav__links li:hover
{    
	border-top: 3px solid #0065FC;
}

#divMenu {
    position: relative;
    float: left;
    z-index: 3;
}

/* Gestion des icones */

/* Modifications d'ensemble */
i.fas
{
    float: left;
}

.searchFormIcon
{
	background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

i.fas.fa-map-marker-alt {
	font-weight: 900;
}

input#fPosition {
	height: 35px;
	border-style: solid;
    border-color: #F2F2F2;
}

.searchFormButton {
	background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem;
    font-size: 1rem;
	cursor: pointer;
	font-weight: bold;
}

.searchForm{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.searchFormInput{
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	border-right: none;
    border-left: none;
    padding: 0 1rem;
    width: 13rem;
    font-size: 1rem;
}

.searchFiltersResult{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    margin-bottom: 1rem;
	font-weight: bold;
	cursor: pointer;
}

.searchFiltersResult:hover{
	background-color: #f3f3f3;
}

.searchFiltersIcon{
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
	margin: -2px;
	color: #0065FC;
}

.searchResultIcon {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 1rem;
	color: #0065FC;
}

.searchResult{
	display: flex;
	align-items: center;
	margin: 1rem 0 1rem 0;
}

.searchFiltersTitle{
	margin: 0 2rem 1rem 0;
	display: flex;
	align-items: center;	
}

.searchFiltersTitleIcon{
	margin: 0 1rem;
}
.hostingCardRating{
    margin: 0 0.75rem 0.25rem 0.75rem;
}

.hostingCard:hover{
    transform: scale(1.02);
}

.hostingMainTitle{
	grid-column: 1/-1;
	margin: 0;
}

.hostingTitle{
	margin: 0;
    display: flex;
    justify-content: space-between;
}

.hosting{
	display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.hostingMainContent{
    display: grid;
    column-gap: 2rem;
	row-gap: 2rem;
	background-color: #F2F2F2;
	grid-template-columns: repeat(3, 1fr);
	border-radius: 1.5rem;
    padding: 2rem;
}

.hostingCardImageTitle{
	margin: 0.25rem 0.75rem 0 0.75rem;
}

.hostingCardTitle{
	margin: 0.25rem 0.75rem 0 0.75rem;
}
.hostingCard{
	background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.hostingCardImage{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
	border-radius: 1rem 1rem 0 0;
}

.hostingMainViewMore{
    font-weight: bold;
}

.hostingCardRatingIcon[active=true]{
	color: #0065FC;
}

.hostingCardRatingIcon[active=false]{
	color: #F2F2F2;
}

.hostingPopular {
	display: grid;
    row-gap: 2rem;
	grid-template-rows: auto repeat(3, 1fr);
	background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.hostingPopularCardImage{
	position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.hostingPopularCardContent{
	display: flex;
    flex-direction: column;
}

.hostingPopularCardContentTitle{
	margin: 0.25rem 0.75rem 0 0.75rem;
}
.hostingPopularContentTitle{
	margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.hostingPopularContentSpace{
    flex: 1;
}

.hostingPopularCardBlock{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.hostingCardImageImg{
	border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.element
{
	width: 250px;
	height: 150px;
	flex-wrap: wrap;
	display: flex;
	border-radius: 10px;
}

.element:nth-child(n)
{
	background-image: url("images/1.jpg");
}

.element:nth-child(2n)
{
	background-image: url("images/2.jpg");
}

.element:nth-child(3n)
{
	background-image: url("images/3.jpg");
}

#contour
{
	background-color: white;
	border-radius: 10px;
}

#filtreRecherche{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
}

/* Activity */
.activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}

.activityTitle {
    grid-column: 1/-1;
}

.activityCardTitle{
    margin: 1.2rem 1.5rem;
}

.activityCardLink1{
    grid-row: 2/7;
    grid-column: 1/2;
}

.activityCardLink2 {
    grid-column: 2/3;
    grid-row: 2/5;
}

.activityCardLink3 {
    grid-column: 3/4;
    grid-row: 2/7;
}

.activityCardLink4 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.activityCardLink5 {
    grid-column: 2/3;
    grid-row: 6/7;
}

.activityCardLink6 {
    grid-column: 4/5;
    grid-row: 4/7;
}

.activityCardLink{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.activityCardLink:hover {
    transform: scale(1.02);
}
.activityCard{
    position: relative;
    flex: 1;
}

.activityCardImage{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Footer */

footer{
	width: 100%;
	background-color :#F2F2F2;
}

/* Mise en place de 3 colonnes de taille équivalente */
.column {
    float: left;
    width: 33.33%;
    padding: 30px;
  }

  /* Clear floats after the columns */
.footerColumn:after {
    content: "";
    display: table;
    clear: both;
  }
  
.footerColumn{
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 0rem;
    box-sizing: border-box;
}
  
.footerColumnLink{
    display: block;
}

.footerColumnLink:hover{
    text-decoration: underline;
}
